* {
    margin: 0px;
    padding: 0px;
    font-family: var(--poppins-font-colour);
    color: #fff;
}

:root {
    --poppins-font-colour: 'poppins', sans-serif;
    --hover-orange: #cd5700;
}

.body-abt {
    background-image: url(./../Images/about_team_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.main-section {
    width: 100%;
    height: 1024px;
    border: #000;
}

.hero-section {
    height: 1024px;
}

.container-header-abt {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #000;
}

.nav-bar {
    width: 1235px;
    height: 25px;
    display: flex;
    justify-content: right;
    align-items:center;
}

.nav-bar img{
    height: 20px;
    margin-right: 785px;
}

.nav-links {
    font-size: 16px;
}

.nav {
    margin-right: 50px;
    text-decoration: none;
}

.cta {
    text-decoration: none;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
}

.hero-image img {
    width: 793px;
    margin-top: 300px;
    height: 150px;
}

.quote-abt {
    font-size: 65px;
    font-weight:600;
    color: #fff;
}

.container-team-info {
    height: auto;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info {
    width: 1235px;
    display: flex;
    flex-direction: column;
    padding: 150px 0px;
}

.team-info h1 {
    font-size: 56px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 0px;
    color: #000;
    text-align: center;
}

.team-info span {
    font-size: 28px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 0px;
    color: #000;
}

.team-info p {
    font-size: 24px;
    margin-top: 28px;
    color: #000;
    text-align: justify;
}

.faculty-co-ordinators-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.faculty-title-holder {
    height: 48px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.faculty-title-holder:hover > p {
    letter-spacing: 5px;
}

.faculty-title-holder p {
    font-size: 48px;
    font-weight: 600;
    transition-duration: 200ms;
}

.faculty-title-holder:hover p {
    font-size: 48px;
    font-weight: 600;
    transition-duration: 200ms;
}

.container-all-faculty-members {
    width: 1025px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-faculty-row {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.container-faculty-member {
    width: 200px;
    height: 250px;
    margin-right: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 150ms;
}

.container-faculty-member-end {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 150ms;
}

.faculty-member {
    width: 200px;
    height: 250px;
    margin-top: 0px;
    margin-left: 0px;
    overflow: hidden;
}

.faculty-image {
    width: 200x;
    height: 200px;
}

.container-faculty-member h1 {
    font-size: 16px;
    font-weight: 600;
}

.container-faculty-member p {
    font-size: 12px;
    font-weight: 500px;
    margin-top: 5px;
}

.container-faculty-member-end h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 0px;
}

.container-faculty-member-end p {
    font-size: 12px;
    font-weight: 500px;
    margin-top: 5px;
}

.container-team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 150px;
}

.members-title-holder {
    height: 48px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.members-title-holder p {
    font-size: 48px;
    font-weight: 600;
    transition-duration: 200ms;
}

.members-title-holder:hover > p {
    letter-spacing: 5px;
}

.container-all-team-members {
    width: 1025px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-team-members-row {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.container-team-members-row-end {
    display: flex;
    justify-content: center;
}

.container-team-member {
    width: 185px;
    height: 295px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    transition-duration: 150ms;
}

.team-member {
    width: 185px;
    height: 250px;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}

.member-image {
    width: 185px;
    height: 250px;
}

.overlay-element {
    height: 250px;
    position: absolute;
    left: -270px;
}

.container-team-member:hover > .team-member > .member-image {
    filter: saturate(0%);
}

.container-team-member:hover > .team-member > .overlay-element {
    mix-blend-mode: overlay;
    animation-name: overlay-anima;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes overlay-anima {
    0%   {left: -270px;}
    100%  {left: 0px}
}

.container-team-member:hover > h1 {
    color: var(--hover-orange);
}

.container-team-member:hover > p {
    color: var(--hover-orange);
}

.container-team-member h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 0px;
}

.container-team-member p {
    font-size: 12px;
    font-weight: 500px;
    margin-top: 5px;
}

.container-team-member-end {
    width: 185px;
    height: 295px;
    display: flex;
    flex-direction: column;
    transition-duration: 150ms;
}

.container-team-member-end h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 0px;
}

.container-team-member-end p {
    font-size: 12px;
    font-weight: 500px;
    margin-top: 5px;
}

.container-team-member-end:hover > .team-member > .member-image {
    filter: saturate(0%);
}

.container-team-member-end:hover > .team-member > .overlay-element {
    mix-blend-mode: overlay;
    animation-name: overlay-anima;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.container-team-member-end:hover > h1 {
    color: var(--hover-orange);
}

.container-team-member-end:hover > p {
    color: var(--hover-orange);
}

.teams-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.team-rpl {
    width: auto;
    height: 550px;
    position: relative;
}

.team-rpl img{ 
    width: auto;
    height: 550px;
    mix-blend-mode: luminosity;
}

.team-rpl P {
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    margin-top: 258px;
    margin-left: 863px;
    z-index: 1;
}

.team-rpl:hover img {
    mix-blend-mode: normal;
}

.team-rpl:hover p {
    mix-blend-mode: overlay;
}

.team-rover {
    width: auto;
    height: 550px;
    position: relative;
}

.team-rover img{
    width: auto;
    height: 550px;
    mix-blend-mode: luminosity;
}

.team-rover P {
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    margin-top: 258px;
    margin-left: 1120px;
    z-index: 1;
}

.team-rover:hover img {
    mix-blend-mode: normal;
}

.team-rover:hover p {
    mix-blend-mode: overlay;
}

.team-satellite {
    width: auto;
    height: 550px;
    position: relative;
}

.team-satellite P {
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    margin-top: 258px;
    margin-left: 838px;
    z-index: 1;
}

.team-satellite img{
    width: auto;
    height: 550px;
    mix-blend-mode: luminosity;
}

.team-satellite:hover img {
    mix-blend-mode: normal;
}

.team-satellite:hover p {
    mix-blend-mode: overlay;
}

.achievements-section-abt {
    height: 975px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.achievements-title-holder {
    height: 48px;
    padding-top: 150px;
    padding-bottom: 125px;
}

.achievements-title {
    font-size: 48px;
    font-weight: 600;
    transition-duration: 200ms;
}

.achievements-title:hover {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 5px;
}

.achievements-1 {
    display: flex;
    flex-direction: row;
    height: 205px;
    margin-top: 55px;
}

.achievements-1:hover  {
    display: flex;
    flex-direction: row;
    height: 205px;
    background-color: #fff;
}

.achievements-1:hover > .info-holder > h1 {
    color: #000;
}

.achievements-1:hover > .info-holder > h2 {
    color: #000;
}

.achievements-1:hover > .info-holder > p {
    color: #000;
}

.image-holder {
    width: 290px;
    height: 205px;
}

.image-holder img{
    width: 290px;
    height: 205px;
}

.info-holder {
    position: relative;
    width: 920px;
    height: 205px;
    margin-left: 50px;
}

.info-holder h1 {
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    margin-top: 5px;
}

.info-holder h2 {
    position: absolute;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 100;
}

.info-holder p {
    position: absolute;
    margin-top: 148px;
    font-size: 20px;
    font-weight: 100;
}

.footer-scetion {
    height: 80px;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    height: 20px;
    width: 1235px;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-footer img {
    height: 20px;
}

.container-socials {
    height: 20px;
    width: 200px;
    border-left: 2px solid #000;
    margin-left: 25px;
    padding-left: 25px;
    display: flex;
}

.container-socials-img {
    padding-right: 15px;
    height: 20px;
}

.container-footer p {
    margin-left: 850px;
    color: #000;
    font-size: 20px;
}